@charset "UTF-8";

/* CSS Document */

/*
  Colour Palette
  - Plum: #701447 - rgb(112, 20, 71)
  - Zinfandel: #D72A56 - rgb(215, 42, 86)
  - Deep Red: #86003A - rgb(134, 0, 58)
  - White wine: #F5ECCE - rgb( 245, 236, 205)

 */

.bottom {
   bottom:0px;
   position:absolute;
   height: 100px;
   background:#701447;
   width: 100%;
}

.bottom p {
	color: #FFF;
	font-size: .75rem;
	padding-top: 3rem;
	padding-left: 1rem;
}

.social li a,
.social li a:link,
.social li a:visited{
	display:inline;
	float:right;
	text-align: center;
	color: #FFF;
	text-decoration:none;
}

.social li a:hover,
.social li a:focus,
.social li a:active{
	color: #F5ECCE;
}

.social {
	margin-top: -3rem;
}
.hide-text{
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	display: block;
}
