@charset "UTF-8";

/* CSS Document */

/*
  Colour Palette
  - Plum: #701447 - rgb(112, 20, 71)
  - Zinfandel: #D72A56 - rgb(215, 42, 86)
  - Deep Red: #86003A - rgb(134, 0, 58)
  - White wine: #F5ECCE - rgb( 245, 236, 205)

 */




.bottom {
	height: 12rem;
	background-color: #701447;
	padding: 1.5rem 2%;
}

.bottom p {
	color: #FFF;
	font-size: .75rem;
}

.social li a,
.social li a:link,
.social li a:visited{
	display:inline-block;
	float:right;
	height: 20px;
	width: 40px; /* divide by 2 to get border radius to create circle */
	margin-right: 1rem;
	text-align: center;
	padding-top: 0.8125rem;
	color: #FFF;
	-webkit-box-shadow: inset 0px 0px 0px 40px #D72A56;
	-moz-box-shadow: inset 0px 0px 0px 40px #D72A56;
	-ms-box-shadow: inset 0px 0px 0px 40px #D72A56;
	-o-box-shadow: inset 0px 0px 0px 40px #D72A56;
	box-shadow: inset 0px 0px 0px 40px #D72A56;
}

.social li a:hover,
.social li a:focus,
.social li a:active{
	-webkit-box-shadow: inset 0px 0px 0px 3px #D72A56;
	-moz-box-shadow: inset 0px 0px 0px 3px #D72A56;
	-ms-box-shadow: inset 0px 0px 0px 3px #D72A56;
	-o-box-shadow: inset 0px 0px 0px 3px #D72A56;
	box-shadow: inset 0px 0px 0px 3px #D72A56;
	color: #FFF;
}

.social {
	margin-left:.5rem;
}