@charset "UTF-8";

/* CSS Document */

/*
  Colour Palette
  - Plum: #701447 - rgb(112, 20, 71)
  - Zinfandel: #D72A56 - rgb(215, 42, 86)
  - Deep Red: #86003A - rgb(134, 0, 58)
  - White wine: #F5ECCE - rgb( 245, 236, 205)

 */
 html, body {
	 width:100%;
 }

.bottom {
   height: 100px;
   background:#701447;
   width: 100%;
}

.bottom p {
	color: #FFF;
	font-size: .75rem;
	padding-top: 3rem;
	padding-left: 1rem;
	position:relative;
}

.social {
	padding: 0;
	text-align:center;
	padding-top: 1rem;
	padding-right: 1rem;	
}

.social li {
	display:inline-block;
	padding-right: 1rem;
	
}

.social li a,
.social li a:link,
.social li a:visited{
	display:inline;
	text-align: center;
	color: #FFF;
	text-decoration:none;
	padding-top: 2rem;
}

.social li a:hover,
.social li a:focus,
.social li a:active{
	color: #F5ECCE;
}

.hide-text{
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	display: block;
}

.social .hide-text{
	display: none;
}


@media only screen and (min-width: 30em) {
	
	.social {
		text-align:right;
	}
	
}

@media only screen and (min-width: 50em) {
	
	.social li {
		margin: 1rem 0;
		padding-right: 1rem;
	}
	
	
}