@charset "UTF-8";
/* CSS Document */

/*
  Colour Palette
  - Plum: #701447 - rgb(112, 20, 71)
  - Zinfandel: #D72A56 - rgb(215, 42, 86)
  - Deep Red: #86003A - rgb(134, 0, 58)
  - White wine: #F5ECCE - rgb( 245, 236, 205)

 */


body {
	background-size:100%;
	font-size:100%;
	line-height:1.5rem;
}


/* ---------------------------------------------------------------------------------------------------------------------------------------Masthead */

.masthead {
	background-color: #F5ECCE;
	height: 9rem;
	width: 100%;
}

.logo {
	width: 64px;
	position: absolute;
	left: 2%;
	top: 1rem;
	
	
}

nav ul { 
	position: absolute;
	width: 100%;
	top: 6.5rem; 
	background-color:#D8C4A6;
	text-align: center;
	left:0;

}

nav li {
	display: inline;
	text-decoration:none;
}



nav a, 
nav a:link,
nav a:visited {
	display: inline-block;
	margin: 0 2%;
	padding: .8rem 3%;
	text-transform: uppercase;
	color: #FFF;
	text-decoration:none;
}

nav a:hover,
nav a:focus,
nav a:active {
	background-color: #701447;
}

nav .selected {
	background-color: #701447;
}

