@charset "UTF-8";
/* CSS Document */

.btn {
	display: inline-block;
	padding: 0.75em 1em;
	background-color: #86003A;
	/*background-image: linear-gradient(to bottom,  #F94C78, #D72A56);*/
	border-radius: 2px;
	box-shadow: 1px 1px 3px rgba(0,0,0,0.5);
	color: #fff;
	font-family: 'Raleway', sans-serif;
	border: 0;
}