# Accessibility Testing Report

User testing was conducted by Megan Davis on March 31st 2014 between the times of 4:50 pm and 7:00 pm with the following participants:

- {Jane Doe}
- {John Doe}
- {Jordan Doe}
- {Theresa Doe}
- {Todd Doe}
- {Taylor Doe}

## Tasks

1. Locate Wine List page
2. Access Zinfandel page
3. Purchase bottle of Zinfandel

---

## Individual Results & Observations

### Bekka Wright

- Accessed the wines list page
- Accessed the zinfandel page
- Added Zinfandel to cart, and proceeded to checkout.

### Greg Leblanc

- Accessed the wines list page
- Accessed the Zinfandel page
- Added Zinfandel to cart, and proceeded to checkout 

### Caterina O'Leary

- Accessed the wines list page
- Accessed the Zinfandel page
- Added Zinfandel to cart, and proceeded to checkout 
- Had problems tabbing through the navigation

### Kayla Tomkiewicz

- Tabbed through all elements to access the Wine List page
- Tabbed through list to access zinfandel list, proceeded to checkout without error.

### Gabriel Mitchel

- Tabbed through all elements to access the Wine List page
- Tabbed through list to access zinfandel list
- Missed Checkout button because of its placement.  

### {Taylor Doe}

- Tabbed through all elements to access the Wine List page
- Tabbed through list to access zinfandel list
- Tabbed past the Checkout button because of its placement. 

---

## Trends

### Critical, Needs Fixing, Unable to Complete

- Button placement

### Serious, Causes Frustration, May Hinder Completion

- Content sizing (Images)

### Minor, Annoying, Won’t Hinder Completion

