# User Testing Report

User testing was conducted by Megan Davis on March 24th 2014 between the times of 4:15pm and {end time} with the following participants:

- Caterina O'Leary
- Rebecca Wright
- {Jordan Doe}

## Tasks

1. View products page
2. View about page
3. Search for Merlot

---

## Individual Results & Observations

### Caterina O'Leary

- Clicked on expected link to products page.
- Accessed list of products. 

- Clicked on expected link to about page. 
- Accessed about page without problems.

- Located search bar
- Entered 'Merlot' into search bar
- Search bar provided a major error. 

### Rebecca Wright

- Clicked on expected link to products page.
- Accessed list of products. 

- Clicked on expected link to about page. 
- Accessed about page without any difficulty.

- Located search bar
- Entered 'Merlot' into search bar
- Clicked on Search button
- Search bar provided a major error.

### Kayla Tomkiewicz

- Clicked on expected link to products page.
- Accessed list of products. (noticed img error beside list items)

- Clicked on expected link to about page. 
- Accessed about page without any difficulty.

- Located search bar
- Entered 'Merlot' into search bar
- Clicked on Search button
- Search bar provided a major error.



---

## Trends

### Critical, Needs Fixing, Unable to Complete

- Search page needs to link to search bar


### Serious, Causes Frustration, May Hinder Completion

- Products page needs to be re-organized and fixed.

### Minor, Annoying, Won’t Hinder Completion

- banner aesthetics, responsiveness. 