---
layout: default
category: Wine
showbanner: yes
type: Red
---

<p>All types of red wine are made by growing and processing red (or black) grapes. The wine that is the end result will vary greatly, depending not only upon the type of grape grown, but several other factors.</p>

<h1>Types of Red</h1> 

<ul>
	{% for products in site.pages %}
		{% if products.type == 'red' %}
			<li>
			<a href="{{site.baseurl}}{{products.url}}">
			{{products.title}} 
			</a>
			</li>
		{% endif %}
	{% endfor %}
</ul>