@charset "UTF-8";
@charset "UTF-8";
/* CSS Document */

/*
  Colour Palette
  - Plum: #701447 - rgb(112, 20, 71)
  - Zinfandel: #D72A56 - rgb(215, 42, 86)
  - Deep Red: #86003A - rgb(134, 0, 58)
  - White wine: #F5ECCE - rgb( 245, 236, 205)

 */

.small-bucket {
	margin: 0px 10px 40px 10px;
	-moz-box-shadow: 2px 2px 1px 1px #ccc;
  	-webkit-box-shadow: 2px 2px 1px 1px #ccc;
  	/*box-shadow: 2px 2px 1px 1px #ccc;*/
  	border: 5px solid #F5ECCE;
  	border-radius: 4px;

}

.small-bucket-header{
	color:#D72A56;
	margin-bottom: 7px;
}

.small-bucket-des {
	color:#D72A56;
	margin-top: 5px;
	padding-bottom: 5px;
	font-size:15px;
}

.small-bucket-img {
	margin-bottom: 1rem;	
}

.large-bucket {
	margin: 3px 3px 10px 3px;
	-moz-box-shadow: 2px 2px 1px 1px #ccc;
  	-webkit-box-shadow: 2px 2px 1px 1px #ccc;
  	/*box-shadow: 2px 2px 1px 1px #ccc;*/
  	border: 5px solid #F5ECCE;
  	border-radius: 4px;
}

.large-bucket-header{
	color:#D72A56;
	margin-bottom: 7px;
	text-align: center;
}

.large-bucket-des {
	color:#D72A56;
	padding-bottom: 0;
}

.large-bucket-img {
	margin-bottom: 1rem;
	margin-right:0;
}/* CSS Document */

