@charset "UTF-8";
/* CSS Document */
/*
  Colour Palette
  - Plum: #701447 - rgb(112, 20, 71)
  - Zinfandel: #D72A56 - rgb(215, 42, 86)
  - Deep Red: #86003A - rgb(134, 0, 58)
  - White wine: #F5ECCE - rgb( 245, 236, 205)

 */

.btn {
	display: inline-block;
	padding: 0.5em .5em;
	/*background-image: linear-gradient(to bottom,  #F94C78, #D72A56);*/
	border-radius: 2px;
	box-shadow: 1px 1px 3px rgba(0,0,0,0.5);
	color: #fff;
	font-family: 'Raleway', sans-serif;
	border: 0;
	background-color:#701447;
}

form { 
	float: right;
	margin-top: 1rem;
	margin-right: 3px;
}

.search-bar {
	margin-right:1rem;

}

