---
layout: default
---

<h1>Products</h1>

<h2>White Wines</h2>

<ul>

{% for products in site.pages %}
	{% if products.type == 'white' %}
	<li>
	{{products.title}}
	</li>
	{% endif %}
{% endfor %}

</ul>

<h2>Red Wines</h2>

<ul>

{% for products in site.pages %}
	{% if products.type == 'red' %}
	<li>
	{{products.title}}
	</li>
	{% endif %}
{% endfor %}

</ul>

<h2>Rose Wines</h2>

<ul>

{% for products in site.pages %}
	{% if products.type == 'rose' %}
	<li>
	{{products.title}}
	</li>
	{% endif %}
{% endfor %}

</ul>

