<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="handheldfriendly" content="true">
  	<meta name="mobileoptimized" content="240">
  	<meta name="viewport" content="width=device-width,initial-scale=1">
	<link href='http://fonts.googleapis.com/css?family=Raleway:600,700' rel='stylesheet' type='text/css'>
	<link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
	<title>{{page.title}} · Wines of the World</title>
	<link href="{{site.baseurl}}/css/typography.css" rel="stylesheet">
	<link href="{{site.baseurl}}/css/common.css" rel="stylesheet">
	<link href="{{site.baseurl}}/css/list-group.css" rel="stylesheet">
	<link href="{{site.baseurl}}/css/media-object.css" rel="stylesheet">
	<link href="{{site.baseurl}}/css/grid.css" rel="stylesheet">
	<link href="{{site.baseurl}}/css/header.css" rel="stylesheet">
	<link href="{{site.baseurl}}/css/footer.css" rel="stylesheet">
	<link href="{{site.baseurl}}/css/product-list-item.css" rel="stylesheet">
	<link href="{{site.baseurl}}/css/product.css" rel="stylesheet">
	<link href="{{site.baseurl}}/css/buttons.css" rel="stylesheet">
	<link href="{{site.baseurl}}/css/font-awesome.min.css" rel="stylesheet">
	<link href="{{site.baseurl}}/css/search-bar.css" rel="stylesheet">
	<link href="{{site.baseurl}}/css/promos.css" rel="stylesheet">
</head>
<body>

<header class="masthead">
	
<div class="search-bar unit unit-l-1 unit-m-1 unit-s-1-3">
<form method="get" action="{{site.baseurl}}/search/" class="btn"id="cse-search-box" >
  <input type="hidden" name="cx" value="YOUR SEARCH ENGINE ID goes here" />
  <input type="hidden" name="ie" value="UTF-8" />
  <input type="text" name="q" size="30" />
  <input type="submit" class="btn" name="sa" value="Search" />
</form>
</div>
		
		<a href="#"><img src="../images/logo.svg" alt="Company Name" class="logo"></a>
		
			<nav class="brand nav nav-top unit-s-1" data-state="collapsed"> 
				<ul>
					<li><a class="{% if page.url == '/index.html' %}current{% endif %}" href="{{site.baseurl}}/index.html" >Home</a></li>
					<li><a class="{% if page.url contains 'about' %}current{% endif %}" href="{{site.baseurl}}/about.html" >About</a></li>
					<li><a class="{% if page.url contains 'products' %}current{% endif %}" href="{{site.baseurl}}/products/index.html">Wine List</a></li>
					<li><a class="{% if page.url contains 'FAQ' %}current{% endif %}" href="{{site.baseurl}}/FAQ.html">FAQ</a></li>
				</ul>
			</nav>
	
</header>

{% if page.showbanner %}
<div class="banner">
	<h2>{{page.bannertext}}</h2>
</div>
{% endif %}

{{content}}

<div class="bottom">
		<ul class="social">
		
			<li>
			<a href="#">
				<i class="fa fa-facebook tera"></i>
				<span class="hide-text">Facebook</span>
			</a>
			</li>
			
			<li>
			<a href="#">
				<i class="fa fa-twitter tera"></i>
				<span class="hide-text">Twitter</span>
			</a>
			</li>
			
			<li>
			<a href="#">
				<i class="fa fa-instagram tera"></i>
				<span class="hide-text">Instagram</span>
			</a>
			</li>
			
		</ul>	
</div>

</body>
</html>
